<div id="paciente">
  <h1>Paciente</h1>

  <div id="informacoes">
    <p>Paciente é aquela pessoa que consulta o médico ou o profissional da área de saúde.</p>

    <p>Pacientes especiais são todos aqueles indivíduos que se desviam física, intelectual, social e emocionalmente daquilo que se considera padrão de normalidade.<p>
  </div>



</div>
