<div id="posto">
<h1>Consultar Postos de Saúde</h1>

<div id='consulta'>
   <%= form_tag consultar_postos_path, method: :get do %>
     <%= label_tag :nome, 'Busca por nome' %>
     <%= text_field_tag :nome %>
     <br><br>
     <%= submit_tag 'Buscar' %>
   <% end %>
</div>

</div>
