<div id="posto">

  <h1>Posto de Saúde</h1>

  <div id="informacoes">
      <p> No Brasil, uma unidade de atendimento de saúde ou UBS (Unidade Básica de Saúde), é onde encontram-se médicos, dentistas para atender à população de um bairro ou de uma determinada região.</p>



      <p>O atendimento deve ser gratuito e destina-se exclusivamente à prevenção. Os casos mais graves e/ou urgências, emergências, devem se encaminhar diretamente a um pronto-socorro (ou pronto-atendimento), onde há recursos adequados para tais atendimentos. No posto de saúde ou UBS, o paciente agenda as consultas para prevenção - ginecologista, obstetra, clínico geral, pediatra, dentista, psiquiatra e também vacinas e acompanhamento de hipertensão.</p>



      <p>Quando há necessidade de exames de média e alta complexidade, especialidades médicas ou cirurgias, os pacientes são encaminhados para uma lista de espera de disponibilidade de vagas do governo do estado, pois a responsabilidade do município (prefeitura) é o atendimento básico.</p>

  </div>

</div>
