<div id ="menu">
		<ul class="nav">
		  <li><%= link_to 'Inicial', root_path %></li>
		  <li><a href="#">Paciente</a></li>
		  <li><%= link_to 'Médico', informacoes_medicos_path %></li>
		  <li><%= link_to 'Funcionário', informacoes_funcionarios_path %></li>
		  <li><%= link_to 'U.M.S', informacoes_postos_path %></li>
		  <li><a href="#">Exames</a></li>
		  <li><a href="#">Consulta Mé.</a></li>
		  <li><a href="#">Suporte Online</a></li>
		  <li class="noMargin"><a href="#">Contato</a></li>
		</ul>
</div>
