<div id="medico">
  <h1>Médico</h1>

  <div id="informacoes">

    <p>O médico é o profissional autorizado pelo Estado para exercer a Medicina; se ocupa da saúde humana e/ou animal, prevenindo, diagnosticando, tratando e curando as doenças, o que requer conhecimento detalhado de disciplinas acadêmicas (como anatomia e fisiologia) por detrás das doenças e do tratamento - a ciência da medicina - e também competência na sua prática aplicada - a arte da medicina.</p>

    <p>Tanto o papel do médico e o significado da palavra variam significativamente ao redor do mundo, mas como compreensão geral, a ética médica requer que médicos demonstrem consideração, compaixão e benevolência frente a seus pacientes.</p>

    <p>Os médicos podem ser generalistas, isto é, não especializados em nenhuma área específica da medicina, ou especialistas, quando especializados em alguma área.</p>

</div>
